/* Google fonts Poppins using */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* more using codes */
:root {
    /* color selection */
    --primary-color: #3A3A3A;
    --second-color: #787885;
    --product-h-color: #18191F;
    --btn-color: #E02C6D;
    --star-color: #FB8200;
    --rating-marks: #5E6366;
    --out-p-color: #6C6C6C;
    --foot-p-color: #D9DBE1;
    --white-color: #ffffff;
    --price-color: rgba(0, 0, 0, 0.87);
    --shadow-color: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: Poppins; */
}

li {
    list-style: none;
}

li a {
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none;
    transition: .3s;
}

h1 {
    font-size: 52px;
    color: var(--primary-color);
}

h2 {
    font-size: 24px;
    color: var(--primary-color);
}

h2 .product-title {
    font-size: 28px;
    color: var(--product-h-color);
}

p {
    font-size: 16px;
    color: var(--primary-color);
}

p .para {
    font-size: 14px;
    color: var(--second-color);
}

p .foot {
    font-size: 14px;
    color: var(--foot-p-color);
}

/* custom styles for codes */
.header_area {
    padding: 50px 120px;
}

.nav_area {
    display: flex;
    justify-content: space-between;
}

ul.nav_list {
    display: flex;
}

.nav_area ul li:nth-child(6) {
    margin-right: 0px;
}

ul li {
    margin-right: 34px;
}

ul li:hover a {
    color: red;
}

.icon_hover {
    font-size: 25px;
    transition: .3s;
}

.icon_hover:hover {
    color: red;
}

/* start your journey area */
.start_your_journey {
    display: flex;
    gap: 100px;
    align-items: center;
    height: 45vh;
    padding: 50px 120px;
}

.journey_title {
    line-height: 70px;
    margin-bottom: 15px;
}

.journey_para {
    width: 562px;
    margin-bottom: 25px;
}

/* btn style css */
.btn {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 25px;
    border: none;
    display: inline-flex;
    gap: 8px;
    transition: .3s ease-in;
}

.btn:hover {
    background: #000;
}

.btn i {
    font-size: 25px;
}

.journey_image {
    background-image: url(../images/Circle\ design.svg);
    background-size: cover;
    background-position: to bottom;
    background-repeat: no-repeat;
    height: 440px;
}

/* partner company area style start */
.partner_company_area {
    padding: 70px 120px;
}

.company_logos {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    border-top: 1px solid #e8e0e0;
    border-bottom: 1px solid #e8e0e0;
    margin: 0px 50px;
}













@media screen and (max-width: 576px) {
    .header_area {
        padding: 25px 15px;
        background-color: #2ED8E1;
    }

    .nav_area {
        flex-direction: column;
        /* text-align: center; */
    }

    ul.nav_list {
        flex-direction: column;
    }

    .nav_area ul li, .nav_area ul li:nth-child(6) {
        margin-right: unset;
        margin-bottom: 10px;
    }

    h2.nav_title {
        font-size: 25px;
    }

    ul.nav_list li a {
        font-size: 16px;
    }

    .nav_logo, ul.nav_list {
        width: 100%;
        margin-bottom: 15px;
    }



    .start_your_journey {
        flex-direction: column-reverse;
        padding: 15px 15px 0px;
        height: 90vh;
        text-align: center;
        align-items: stretch;
        gap: 30px;
    }

    .journey_content, .journey_image {
        width: 100%;
        background-size: 100%;
        height: 50%;
    }

    .journey_content {
        margin-top: unset;
        height: 40%;
    }

    .journey_title {
        line-height: 40px;
        font-size: 28px;
        margin-bottom: 15px;
    }

    .journey_para {
        font-size: 13px;
        width: 80%;
        margin: 0px auto 25px;
    }

    .journey_image {
        background-size: contain;
    }

    .journey_image img {
        width: 100%;
    }

    .btn {
        font-size: 14px;
    }

    .btn i {
        font-size: 23px;
    }


    .partner_company_area {
        padding: 0px 20px;
    }

    .company_logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
        margin: 0px 0px;
        justify-items: center;
        padding: 35px 0px;
        
    }

    .company_logos img {
        width: 100px;
    }

}

@media screen and (min-width: 576.01px) and (max-width: 992px) {
    .header_area {
        padding: 25px 40px;
    }

    .nav_area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav_area ul li, .nav_area ul li:nth-child(6) {
        margin-right: unset;
        margin-bottom: 0px;
    }

    h2.nav_title {
        font-size: 22px;
    }

    ul.nav_list li a {
        font-size: 14px;
    }

    .nav_logo, ul.nav_list {
        width: 100%;
        margin-bottom: 0px;
        align-items: center;
        justify-content: space-between;
    }



    .start_your_journey {
        gap: unset;
        height: 350px;
        gap: 50px !important;
        padding: 40px 40px;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .journey_title {
        line-height: 50px;
        margin-bottom: 10px;
        font-size: 32px;
    }

    .journey_para {
        font-size: 13px;
        width: 360px;
    }

    .journey_content {
        width: 50% !important;
    }

    .journey_image {
        width: 50% !important;
    }

    .journey_image {
        background-size: contain;
        height: 100%;
        width: 100%;
        padding: 5px;
    }

    .journey_image img {
        width: 100%;
    }

    .btn {
        font-size: 14px;
    }

    .btn i {
        font-size: 23px;
    }


    .company_logos {
        align-items: center;
    }

    .partner_company_area {
        padding: 0px 0px 20px;
    }

    .company_logos img {
        width: 60px;
    }
}