/* Google fonts Poppins using */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* more using codes */
:root {
    /* color selection */
    --primary-color: #3A3A3A;
    --second-color: #787885;
    --product-h-color: #18191F;
    --btn-color: #E02C6D;
    --star-color: #FB8200;
    --rating-marks: #5E6366;
    --out-p-color: #6C6C6C;
    --foot-p-color: #D9DBE1;
    --white-color: #ffffff;
    --price-color: rgba(0, 0, 0, 0.87);
    --shadow-color: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: Poppins; */
}

h1 {
    font-size: 52px;
    color: var(--primary-color);
}

h2 {
    font-size: 24px;
    color: var(--primary-color);
}

h2 .product-title {
    font-size: 28px;
    color: var(--product-h-color);
}

p {
    font-size: 16px;
    color: var(--primary-color);
}

p .para {
    font-size: 14px;
    color: var(--second-color);
}

p .foot {
    font-size: 14px;
    color: var(--foot-p-color);
}